.App {
}
.App-logo {
  height: 40px;
  pointer-events: none;
}
body {
  /* padding-bottom: 100px; */
  height:100% !important;
  /* overflow: hidden; */

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
}
.app-body {
  background-color: #F5F5F5;
  height: 100vh;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formControll {
  margin: 0px 20px !important;
}
.MuiBox-root-6 {
  padding: 10px !important;
}
.ButtonShowTlm {
}
.MuiTableHead-root {
  background-color: #D5D5D5;
}
.refreshButton {
  padding:6px !important;
  border-radius: 50px !important;
  min-width: 10px !important;
  margin:12px !important;
  height: 60%;
}
.MuiTableCell-head {
  font-weight: bolder !important;
}
.MuiTableCell-root {
  border: 1px solid
  rgba(224, 224, 224, 1);
}
.MuiTableCell-sizeSmall {
  padding:1px 24px 1px 16px !important;
}
.MuiTableContainer-root {
  overflow-x: visible !important;
}
.PopupContent {
  background-color:white;
  border:black 1px solid;
  padding: 5px;
}

.paramsTable {
  vertical-align: top;
  overflow-y: scroll;
  max-height: 33vh;
  margin-top: 2vh
}

.irregulatEventsTable {
  vertical-align: top;
  overflow-y: scroll;
  max-height: 40vh;
}
.TlmTable {
  position: absolute;
  width:45% !important;
  left:2%;
  top:25%;
  right:20%;
  height: 70%;
  /* margin-left: 2%;
  margin-right: 2%; */
  overflow-y: scroll;
  display: inline-block;
  /* max-height: 73vh; */
  /* margin-top: 2vh; */
  padding:4px;
}

.leftSide {
  top:25%;
  position: absolute;
  width:48% !important;
  left:50%;
  height: 70%;
  vertical-align: top;
  /* margin-right: 2%; */
  /* margin-top: 2vh; */
  display: inline-block;
}
.ChoosenLine {
  background-color: gray !important;
}
.selectionPart {
  height:8vh;
  overflow: hidden;
}
.MuiTabs-flexContainer {
  height:6vh;
}
.App-header{
  height:6vh;
}
.card {
  width:50%;
  display: block;
  float: right;
  height:80%;
  padding:5px;
  box-shadow:  -2px 15px 15px -2px grey;
}





/***************************************************************/
/* popup  */
/***************************************************************/

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: right;
  /* background: #D8F4EE; */
}

.popup .popuptext {
  font-size: 17px;
  visibility: hidden;
  background-color: white;
  color: black;
  border: 1.5px solid #00000029;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 1000;
  top: 145%;
  left: calc(100% - 175px);
  width: 290px;
  height: auto;
  box-shadow: 0px 3px 6px #00000029;
  font-weight: normal !important;
 }
.popup:hover .popuptext {
  visibility: visible;
  animation: fadeIn 1s;
}
.popup .show {
  visibility: visible;
  animation: fadeIn 0.3s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.popuptext::before,
.popuptext::after {
  content: "";
  position: absolute;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  margin-top: 0px;
  left: 50%;
  margin-left: -10px;
}

.popuptext::before {
  border-bottom: 9px solid #2FCFE2;
  top: -10px;
}

.popuptext::after {
  border-bottom: 10px solid white;
  top: -9px;
  z-index: 1;
}